html, body {
    background-color: lightslategrey;
    height: 99%;
    width: 99%;
}

.hero {
    background-image: url("../imgs/Rhord.jpg");
    background-size: 150px;
    background-position: initial;
    position: absolute;
    height: 100px;
    width: 100px;
}